<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-dark text-white bg-dark static-top">



        <div class="collapse navbar-collapse show" id="navbarDark">
          <ul class="navbar-nav mr-auto">
            <span class="align-middle font-weight-bold mr-1" th:text="${user.email}"></span></b>
            <span class="align-middle mr-1">with roles:</span>
            <span class="align-middle" th:text="${user.getRoles()}"></span>
          </ul>
          <ul class="navbar-nav ml-md-auto">
            <form action="/logout" method="get">
              <button type="submit" class="btn btn-outline-warning text-light">Logout</button>
            </form>
          </ul>
        </div>
      </nav>
      <br>


      <div class="row">
        <!--                                                      LEFT_SIDE_TABS-->
        <!--                                                      Amin panel-->

        <div class="col-md-2">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" sec:authorize="hasRole('ROLE_ADMIN')"
               href="#ROLE_ADMIN" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill"
               sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" href="#ROLE_USER"
               role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
          </div>
        </div>

        <!--                                                MAIN_MID_CONTENT-->

        <div class="col-md-1">
        </div>

        <div class="col-md-6">
          <div class="tab-content" id="left-tabContent">
<!--                                                        ADMIN CONTENT-->
          <div class="tab-pane fade show active" id="ROLE_ADMIN" role="tabpanel" aria-labelledby="pills-home-tab">

            <h3>Admin panel</h3>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">All users table</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#newUserTab" role="tab" aria-controls="profile" aria-selected="false">New user</a>
              </li>
            </ul>

            <div class="tab-content" id="myTabContent">

              <!--                                        ALL USERS TABLE tab-->

              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <h3>All users</h3>
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="user :${users}">
                    <td th:text="${user.id}">id</td>
                    <td th:text="${user.name}">name</td>
                    <td th:text="${user.age}">age</td>
                    <td th:text="${user.email}">email</td>
                    <td th:text="${user.roles}">roles</td>
                    <!--                                    MODAL EDIT-->
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" th:href="${'#editModal' + user.getId()}" data-whatever="@mdo">Edit</button>

                      <div class="modal fade" th:each="editUser : ${users}" th:id="${'editModal' + editUser.getId()}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                           aria-hidden="true">
                        <form th:method="POST" th:action="@{/admin/{id}(id=${editUser.id})}">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header text-center">
                                <h5 class="modal-title w-100" id="editModalLabel">Edit user</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body text-center">
                                <form>
                                  <div class="form-group">
                                    <label for="id" class="col-form-label font-weight-bold">Id:</label>
                                    <input type="text" class="form-control text-center" th:value="*{editUser.getId()}" name="id" id="id" readonly/>
                                  </div>
                                  <div class="form-group">
                                    <label for="name" class="col-form-label font-weight-bold">Name:</label>
                                    <input type="text" class="form-control text-center" th:value="*{editUser.getName()}" name="name" id="name"/>
                                  </div>
                                  <div class="form-group">
                                    <label for="password" class="col-form-label font-weight-bold">Password:</label>
                                    <input type="password" class="form-control text-center" th:value="*{editUser.getPassword()}" name="password" id="password"/>
                                  </div>
                                  <div class="form-group">
                                    <label for="age" class="col-form-label font-weight-bold">Age:</label>
                                    <input type="number" class="form-control text-center" th:value="*{editUser.getAge()}" id="age" name="age"/>
                                  </div>
                                  <div class="form-group">
                                    <label for="email" class="col-form-label font-weight-bold">Email:</label>
                                    <input type="text" class="form-control text-center" th:value="*{editUser.getEmail()}" id="email" name="email"/>
                                  </div>
                                  <div class="form-group">
                                    <label for="new-roles" class="row justify-content-center font-weight-bold">Roles:</label>
                                    <select class="custom-select text-center" multiple size="2" name="rolesId" id="new-roles">
                                      <option value="ROLE_ADMIN">ADMIN</option>
                                      <option selected value="ROLE_USER">USER</option>
                                    </select>
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>

                      </form>

                    </td>
                    <!--                                    MODAL DELETE-->
                    <td><button type="button" class="btn btn-danger" data-toggle="modal" th:href="${'#deleteModal' + user.getId()}" data-whatever="@mdo">Delete</button>
                      <div class="modal fade" th:each="deleteUser :${users}"  th:id="${'deleteModal' + deleteUser.getId()}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                           aria-hidden="true">
                        <form th:method="DELETE" th:action="@{/admin/{id}(id=${deleteUser.id})}">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content text-center">
                              <div class="modal-header">
                                <h5 class="modal-title w-100" id="deleteModalLabel">Delete user</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body font-weight-bold">
                                <form>
                                  <div class="form-group">
                                    <label for="id" class="col-form-label">ID:</label>
                                    <input type="number" class="form-control text-center" th:value="*{deleteUser.id}" id="id" readonly/>
                                  </div>
                                  <div class="form-group">
                                    <label for="name" class="col-form-label">Name:</label>
                                    <input type="text" class="form-control text-center" th:value="*{deleteUser.name}" id="name" readonly/>
                                  </div>
                                  <div class="form-group">
                                    <label for="age" class="col-form-label">Age:</label>
                                    <input class="form-control text-center" th:value="*{deleteUser.age}" id="age" readonly/>
                                  </div>
                                  <div class="form-group">
                                    <label for="email" class="col-form-label">Email:</label>
                                    <input class="form-control text-center" th:value="*{deleteUser.email}" id="email" readonly/>
                                  </div>
                                  <div class="form-group">
                                    <label for="roles" class="col-form-label">Roles:</label>
                                    <input class="form-control text-center" th:value="*{deleteUser.roles}" id="roles" readonly/>
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </td>

                  </tr>
                  </tbody>
                </table>

              </div>

              <!--                                          NEW USER tab-->
              <div class="tab-pane fade" id="newUserTab" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row justify-content-center font-weight-bold">
                <form th:object="${newUser}" th:action="@{/admin}" th:method="POST">
                  <div class="form-group">
                    <label class="row justify-content-center" for="name">Name:</label>
                    <input type="text" class="form-control text-center" th:field="*{name}" id="name"/>
                    <div style="color:orangered" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
                  </div>

                  <div class="form-group">
                    <label class="row justify-content-center" for="password" >Password:</label>
                    <input type="password" class="form-control text-center" th:field="*{password}" id="password"/>
                    <div style="color:orangered" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
                  </div>

                  <div class="form-group">
                    <label class="row justify-content-center" for="age" >Age:</label>
                    <input type="number" class="form-control text-center" th:field="*{age}" id="age"/>
                    <div style="color:orangered" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
                  </div>

                  <div class="form-group">
                    <label class="row justify-content-center" for="email" >Email:</label>
                    <input type="text" class="form-control text-center" th:field="*{email}" id="email"/>
                    <div style="color:orangered" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
                  </div>

                  <div class="form-group">
                    <label for="new-roles" class="row justify-content-center">Roles:</label>
                      <select class="custom-select text-center" multiple size="2" name="rolesId" id="new-roles">
                        <option value="ROLE_ADMIN">ADMIN</option>
                        <option selected value="ROLE_USER">USER</option>
                      </select>
                  </div>
                  <div class="row justify-content-center">
                  <button type="submit" class="btn btn-success ">Add new user</button>
                  </div>
                </div>
                </form>
              </div>

            </div>
          </div>

<!--                                                 USER'S CONTENT-->
          <div class="tab-pane fade" id="ROLE_USER" role="tabpanel" aria-labelledby="pills-profile-tab">
            <h3>User info</h3>
            <table class="table table-hover">
              <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Roles</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td th:text="${user.id}">id</td>
                <td th:text="${user.name}">name</td>
                <td th:text="${user.age}">age</td>
                <td th:text="${user.email}">email</td>
                <td th:text="${user.roles}">roles</td>
              </tr>
              </tbody>
            </table>

          </div>


        </div>
      </div>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>