<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="/logout" method="GET">
  <button type="submit">Logout</button>
</form>

<hr>

<table border="1">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Email</th>
    <th>Roles</th>
  </tr>
  </thead>
  <tbody>

  <td th:text="${id}">id</td>
  <td th:text="${username}">name</td>
  <td th:text="${age}">age</td>
  <td th:text="${email}">email</td>
  <td th:text="${roles}">roles</td>
  </tbody>
</table>


</body>
</html>